body, #container {
    max-height: 100vh;
    overflow: hidden;
}

#treeview {
    max-height: 100vh;
    overflow-y: scroll;
}

#table-info {
    height: 100vh;
}

table > tbody > tr > td:first-child {
    font-weight: bold;
}

#btn-back {
    position: fixed;
    right: 16px;
    top: 16px;
    z-index: 5000;
}

a.nav-link {
    border-bottom: 1px solid #007bff77;
    border-left: none;
    border-right: none;
}

a.nav-link.active  {
    font-weight: bold;
    border-bottom: none;
    border-left: 1px solid #007bff77;
    border-right: 1px solid #007bff77;
}

a.dataset-refresh > i.fas {
    font-size: 10px;
}
div.table-info-section {
    height: 100%;
}

div.section-heading {
    margin-bottom: 50px;
}

a.table-name.active  {
    font-weight: bold;
}

#table-info-summary > div.row > div:first-child {
    font-weight: bold;
}

div.dataset-spinner {
    display: none;
}

#table-info-column-list td,
#table-info-column-list th {
    padding: 10px;
}

#table-info-column-list th {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#table-info-column-list tr:nth-child(even) {
    background: rgba(0,0,0,0.2);
}

.table-info-section > .tab-pane {
    max-width: 100%;
    padding-right: 15px;
    max-height: -webkit-calc(100% - 60px);
    max-height: -moz-calc(100% - 60px);
    max-height: calc(100% - 60px);
    overflow: scroll;
}

#table-preview td,
#table-preview th {
    padding: 7px;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
}

#table-preview tr:nth-child(even) {
    background: rgba(0,0,0,0.2);
}
