<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tree View</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <script>
            var tree = {{ tree_json|safe }};
            var current_dataset = null;
            var current_table = null;
        </script>
    </head>
    <body>
        <div class="container-fluid" id="container">
            <div class="row">
                <div class="col-3" id="treeview">
                    <div class="col-12 kex-buttons p-3">
                        <a href="#" class="btn btn-primary" id="btn-refresh-kexes"><i class="fas fa-sync"></i>&nbsp;Refresh kexes</a>
                        <a href="#" class="btn btn-primary" id="btn-create-kex"><i class="fas fa-plus"></i>&nbsp;Create Kex</a>
                        <a href="/" class="btn btn-primary" id="btn-back"><i class="fas fa-chevron-left"></i>&nbsp;Back</a>
                    </div>
                    {% for ds in tree %}
                        <div class="col-12">
                            <a href="#collapse-{{ ds }}" data-toggle="collapse" data-dataset="{{ ds }}" class="dataset-button">
                                <i class="fas fa-plus"></i> {{ ds }}
                            </a>
                            <a href="#" data-dataset="{{ ds }}" class="dataset-refresh">
                                <i class="fas fa-sync"></i>
                            </a>
                            <div class="collapse ds" id="collapse-{{ ds }}" data-ds="{{ ds }}">
                                    <div class="spinner-border dataset-spinner" role="status" data-ds="{{ ds }}">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    {% if not tree[ds]["tables"] %}
                                        <span class="text-secondary dataset-no-tables" data-ds="{{ ds }}">(no tables)</span>
                                        <ul></ul>
                                    {% else %}
                                        <ul>
                                            {% for table_name, table in tree[ds]["tables"].items() %}
                                                <li>
                                                    <a
                                                        href="#table-info-{{ ds }}-{{ table.table_id }}"
                                                        data-toggle="collapse"
                                                        data-table="{{ table.name }}"
                                                        data-ds="{{ ds }}"
                                                        class="table-name">{{ table.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="table-info" class="col-9">
                    <div class="col-12" style="height: 60px;">
                        <nav class="navbar navbar-expand-lg">
                            <ul class="nav bav-tabs" role="tablist">
                                <li class="nav-item" data-menu-item="table-info-summary">
                                    <a href="#table-info-summary" class="nav-link active" data-toggle="tab" role="tab"><i class="fas fa-heart"></i>&nbsp;Summary</a>
                                </li>
                                <li class="nav-item" data-menu-item="table-info-preview">
                                    <a href="#table-info-preview" class="nav-link" data-toggle="tab" role="tab"><i class="fas fa-eye"></i>&nbsp;Preview</a>
                                </li>
                                <li class="nav-item" data-menu-item="table-info-columns">
                                    <a href="#table-info-columns" class="nav-link" data-toggle="tab" role="tab"><i class="fas fa-list-ul"></i>&nbsp;Columns</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-actions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bolt"></i>&nbsp;Actions
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-actions">
                                        <a class="dropdown-item" href="#truncate"><i class="fas fa-toilet"></i>&nbsp;Truncate table</a>
                                        <a class="dropdown-item" href="#delete"><i class="fa fa-trash"></i>&nbsp;Delete table</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 tab-content table-info-section">
                        <!-- Section SUMMARY -->
                        <div class="tab-pane fade show active" id="table-info-summary" role="tabpanel">
                            <div class="col-12 section-heading">
                                <h2>Table Summary</h2>
                                <h4 class="table-info-col-name"></h4>
                            </div>
                            <div class="row">
                                <div class="col-4">Created</div>
                                <div class="col-8" id="table-info-col-created"></div>
                            </div>
                            <div class="row">
                                <div class="col-4">Modified</div>
                                <div class="col-8" id="table-info-col-modified"></div>
                            </div>
                            <div class="row">
                                <div class="col-4">Project</div>
                                <div class="col-8" id="table-info-col-project"></div>
                            </div>
                            <div class="row">
                                <div class="col-4">Description</div>
                                <div class="col-8" id="table-info-col-description"></div>
                            </div>
                            <div class="row">
                                <div class="col-4">Size</div>
                                <div class="col-8" id="table-info-col-size"></div>
                            </div>
                            <div class="row">
                                <div class="col-4">No. of rows</div>
                                <div class="col-8" id="table-info-col-rows"></div>
                            </div>
                        </div>
                        <!-- Section PREVIEW -->
                        <div class="tab-pane fade" id="table-info-preview" role="tabpanel">
                            <div class="col-12 section-heading">
                                <h2>Table Preview</h2>
                                <h4 class="table-info-col-name"></h4>
                            </div>
                            <div class="col-12" id="table-preview-container">
                                <table id="table-preview">
                                </table>
                            </div>
                        </div>
                        <!-- Section COLUMNS -->
                        <div class="tab-pane fade" id="table-info-columns" role="tabpanel">
                            <div class="col-12 section-heading">
                                <h2>Table Columns</h2>
                                <h4 class="table-info-col-name"></h4>
                            </div>
                            <table id="table-info-column-list">
                                <thead>
                                    <tr>
                                        <th>Column name</th>
                                        <th>Type</th>
                                        <th>Mode</th>
                                    </tr>
                                </thead>
                                <tbody id="table-info-column-list-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal-action-truncate" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>This action may be irreversible. Do you really want to truncate table <span class="selected-table-name"></span>?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary confirm">Hell yeah!</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal-action-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>This action may be irreversible. Do you really want to delete table <span class="selected-table-name"></span>?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary confirm">Hell yeah!</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal-action-create" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create kex</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group row text-center">
                            <label class="col-form-label m-3" for="create-kex-stage">Kex name:</label>
                            <select id="create-kex-stage" class="form-control m-3">
                                <option value="dev">dev</option>
                                <option value="raw">raw</option>
                                <option value="in">in</option>
                                <option value="out">out</option>
                                <option value="dm">dm</option>
                            </select>
                            <input type="text" id="create-kex-name" class="form-control m-3">
                        </div>
                    </div>
                    <span id="create-kex-id">&nbsp;</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary confirm">Hell yeah!</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            // Generate li > a for tables
            function generate_li_a(ds, table_name) {
                return $(`<li><a
                    href="#table-info-${ds}-${table_name}"
                    data-toggle="collapse"
                    data-table="${table_name}"
                    data-ds="${ds}"
                    class="table-name">${table_name}</a></li>`);
            }

            // Clear active table data to look like from the beginning
            function clear_active_table() {
                $("a[href='#table-info-summary']").tab("show");
                $("#table-info-col-created").text("");
                $("#table-info-col-project").text("");
                $(".table-info-col-name").text("");
                $("#table-info-col-modified").text("");
                $("#table-info-col-description").text("");
                $("#table-info-col-size").text("");
                $("#table-info-col-rows").text("");
                $("span.selected-table-name").html("");
                let column_list_body = $("#table-info-column-list-body");
                column_list_body.empty();
                
                current_table = null;
            }

            // Set active table in info panel
            function set_active_table(ds, table) {
                console.log(table);
                $("a[href='#table-info-summary']").tab("show");
                let table_name = table.name;
                $("#table-info-col-created").text(table.details.created);
                $("#table-info-col-project").text(table.project);
                $(".table-info-col-name").text(`${ds}.${table.name}`);
                $("#table-info-col-modified").text(table.details.modified);
                $("#table-info-col-description").text(table.details.description);
                $("#table-info-col-size").text(`${table.details.size_readable}`);
                $("#table-info-col-rows").text(table.details.num_rows.toLocaleString("en-US"));
                $("span.selected-table-name").html(`<em>${ds}.${table.name}</em>`);
                let column_list_body = $("#table-info-column-list-body");
                column_list_body.empty();
                for (field_id in table.details.schema) {
                    let row = $("<tr></tr>");
                    let field = table.details.schema[field_id];
                    row.append(`<td>${field.name}</td>`);
                    row.append(`<td>${field.type}</td>`);
                    row.append(`<td>${field.mode}</td>`);
                    column_list_body.append(row);
                }
                current_dataset = ds;
                current_table = table_name;
            }

            // Load tables data from specified dataset
            function load_tables(ds, force=false) {
                $(`.dataset-spinner[data-ds="${ds}"]`).css("display", "block");
                    $.get(
                        `kex/${ds}/tables?force=${force}`,
                        (data) => {
                            let target_ul = $(`div.ds[data-ds="${ds}"] > ul`);
                            for (tid in data[ds].tables) {
                                let table = data[ds].tables[tid];
                                target_ul.append(generate_li_a(ds, table.name));
                            }
                            $(`.dataset-spinner[data-ds="${ds}"]`).css("display", "none");
                            if (Object.keys(data[ds].tables).length == 0) {
                                $(`span.dataset-no-tables[data-ds="${ds}"]`).css("display", "block");
                            } else {
                                $(`span.dataset-no-tables[data-ds="${ds}"]`).css("display", "none");
                            }
                            tree = data;
                            bind_table_anchors();
                        }
                    ).fail((data) => {alert("Failed"); console.log(data);});
            }

            // Change plus sign to minus and load data if needed
            $("div[data-ds]").on("show.bs.collapse", (e) => {
                let ds = $(e.target).attr("data-ds");
                let el = $(`a[data-dataset="${ds}"] > i`);
                el.removeClass("fa-plus");
                el.addClass("fa-minus");
                if (Object.keys(tree[ds].tables).length == 0) {
                    load_tables(ds);
                }
            });

            // Refresh kexes
            function refresh_kexes() {
                $.get("kex/").done((data) => {
                    location.reload();
                }).fail((data) => {
                    alert("Refreshing kexes failed, check console for error and contact somebody.");
                    console.log(data);
                });
            }

            // Change minus sign to plus
            $("div[data-ds]").on("hide.bs.collapse", (e) => {
                let ds = $(e.target).attr("data-ds");
                let el = $(`a[data-dataset="${ds}"] > i`);
                el.removeClass("fa-minus");
                el.addClass("fa-plus");
            });

            // Bind table anchors
            function bind_table_anchors() {
                $("a.table-name").click((e) => {
                    let table_name = $(e.target).attr("data-table");
                    $("a.table-name.active").removeClass("active");
                    $(e.target).addClass("active");
                    let ds = $(e.target).attr("data-ds");
                    table = tree[ds].tables[table_name];
                    return set_active_table(ds, table);
                });
            }

            bind_table_anchors();

            // set active / inactive
            $(document).on('click','.nav-link.active', function(){
                var href = $(this).attr('href').substring(1);
                $(this).removeClass('active');
                $('.tab-pane[id="'+ href +'"]').removeClass('active');
            });

            function refresh_dataset(ds) {
                $(`div.ds[data-ds="${ds}"] > ul`).empty();
                load_tables(ds, true);
                return;
            }

            // Refresh tables list
            $("a.dataset-refresh").click((e) => {
                console.log(e);
                let ds = $(e.currentTarget).attr("data-dataset");
                console.log(ds);
                refresh_dataset(ds);
            });

            // load preview
            $("a[href='#table-info-preview']").on("shown.bs.tab", (e) => {
                let table_preview = $("#table-preview");
                table_preview.empty();
                $.get(
                    `kex/${current_dataset}/tables/${current_table}/preview`,
                    (data) => {
                        let header = [];
                        for (rowid in data.rows) {
                            let row = data.rows[rowid];
                            if (rowid == 0) {
                                let header_row = $("<tr></tr>");
                                for (column in row) {
                                    header_row.append($(`<th>${column}</th>`))
                                    header.push(column);
                                }
                                table_preview.append(header_row);
                            }
                            let current_row = $("<tr></tr>");
                            for (hid in header) {
                                col = header[hid];
                                current_row.append(`<td>${row[col]}</td>`);
                            }
                            table_preview.append(current_row);
                        }
                    }).fail((data) => {
                        $("#table-preview").append("<div class='bg-danger'>Error</div>");
                    });
            });

            // truncate table
            $("a[href='#truncate']").click((e) => {
                $("#modal-action-truncate").modal({
                    show: true, 
                    backdrop: "static"
                });
            });

            $("#modal-action-truncate button.confirm").click((e) => {
                if ($("#modal-action-truncate button.confirm").hasClass("disabled")) {
                    return false;
                }
                $("#modal-action-truncate button.confirm").addClass("disabled");
                $("#modal-action-truncate button[data-dismiss]").addClass("disabled");
                $("#modal-action-truncate button[data-dismiss]").attr("data-dismiss", "");
                $.post(
                     `kex/${current_dataset}/tables/${current_table}/truncate`
                ).done((data) => {
                    $("#modal-action-truncate button.confirm").removeClass("disabled");
                    $("#modal-action-truncate button[data-dismiss]").removeClass("disabled");
                    $("#modal-action-truncate button[data-dismiss]").attr("data-dismiss", "modal");
                    $("#modal-action-truncate").modal("hide");
                    refresh_dataset(current_dataset);
                    clear_active_table();
                }).fail((data) => {
                    alert("Error occurred, check console and tell someone.");
                    console.log(data);
                    $("#modal-action-truncate button.confirm").removeClass("disabled");
                    $("#modal-action-truncate button[data-dismiss]").removeClass("disabled");
                    $("#modal-action-truncate button[data-dismiss]").attr("data-dismiss", "modal");
                });
            });

            // delete table
            $("a[href='#delete']").click((e) => {
                $("#modal-action-delete").modal({
                    show: true, 
                    backdrop: "static"
                });
            });

            $("#modal-action-delete button.confirm").click((e) => {
                if ($("#modal-action-delete button.confirm").hasClass("disabled")) {
                    return false;
                }
                $("#modal-action-delete button.confirm").addClass("disabled");
                $("#modal-action-delete button[data-dismiss]").addClass("disabled");
                $("#modal-action-delete button[data-dismiss]").attr("data-dismiss", "");
                $.ajax(
                    `kex/${current_dataset}/tables/${current_table}`,
                    {
                        method: 'DELETE'
                    }
                ).done((data) => {
                    $("#modal-action-delete button.confirm").removeClass("disabled");
                    $("#modal-action-delete button[data-dismiss]").removeClass("disabled");
                    $("#modal-action-delete button[data-dismiss]").attr("data-dismiss", "modal");
                    $("#modal-action-delete").modal("hide");
                    refresh_dataset(current_dataset);
                    clear_active_table();
                }).fail((data) => {
                    alert("Error occurred, check console and tell someone.");
                    console.log(data);
                    $("#modal-action-delete button.confirm").removeClass("disabled");
                    $("#modal-action-delete button[data-dismiss]").removeClass("disabled");
                    $("#modal-action-delete button[data-dismiss]").attr("data-dismiss", "modal");
                });
            });

            // create kex
            function get_entered_kex_name() {
                let stage = $("#create-kex-stage").val();
                let name = $("#create-kex-name").val();
                return `${stage}_${name}`;
            }

            $("#btn-create-kex").click((e) => {
                $("#modal-action-create").modal({
                    show: true, 
                    backdrop: "static"
                });
            });

            $("#create-kex-stage").change(function (e) {
               let kex = get_entered_kex_name();
               if (kex in tree) {
                   $("#create-kex-id").addClass("bg-danger");
                } else {
                    $("#create-kex-id").removeClass("bg-danger");
                }
                $("#create-kex-id").text(kex);
            });

            $("#create-kex-name").keyup(function (e) {
                let kex = get_entered_kex_name();
                if (kex in tree) {
                   $("#create-kex-id").addClass("bg-danger");
                } else {
                    $("#create-kex-id").removeClass("bg-danger");
                }
                $("#create-kex-id").text(kex);
            });

            $("#modal-action-create button.confirm").click((e) => {
                let kex = get_entered_kex_name();
                if ($("#modal-action-create button.confirm").hasClass("disabled")) {
                    return false;
                }
                $("#modal-action-create button.confirm").addClass("disabled");
                $("#modal-action-create button[data-dismiss]").addClass("disabled");
                $("#modal-action-create button[data-dismiss]").attr("data-dismiss", "");
                $.ajax(
                    `kex/${kex}`,
                    {
                        method: 'POST'
                    }
                ).done((data) => {
                    $("#modal-action-create button.confirm").removeClass("disabled");
                    $("#modal-action-create button[data-dismiss]").removeClass("disabled");
                    $("#modal-action-create button[data-dismiss]").attr("data-dismiss", "modal");
                    $("#modal-action-create").modal("hide");
                    clear_active_table();
                    refresh_kexes();
                }).fail((data) => {
                    alert("Error occurred, check console and tell someone.");
                    console.log(data);
                    $("#modal-action-create button.confirm").removeClass("disabled");
                    $("#modal-action-create button[data-dismiss]").removeClass("disabled");
                    $("#modal-action-create button[data-dismiss]").attr("data-dismiss", "modal");
                });
            });

            $("#btn-refresh-kexes").click((e) => {
                refresh_kexes();
            });
        </script>
    </body>
</html>
